body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    line-height: 1.6;
}

.category {
    margin-bottom: 30px;
}

h1 {
    color: #2c3e50;
    text-align: center;
}

h2 {
    color: #34495e;
    border-bottom: 2px solid #eee;
    padding-bottom: 5px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    margin: 10px 0;
}

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.github-logo {
    width: 18px;
    height: 18px;
    /* margin-bottom: 20px; Adjust the margin as needed */
}

.cpp-logo {
    width: 14px;
    height: 16px;
    /* margin-bottom: 20px; Adjust the margin as needed */
}